@import "tailwindcss";

@keyframes marqueeLeftToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* .left-to-right {
  animation: marqueeLeftToRight 30s linear infinite;
} */
